{% for post in posts %}
<div class="card mb-2">
    {% if post.featured_image %}
    <img class="card-img-top blogPost_img" src="{{ post.featured_image.large }}" alt="Card image">
    {% endif %}
    <div class="card-body">
        <a href="{{baseurl}}{{post.slug}}">
            <h4 class="card-title"> {{ post.title }} </h4>
        </a>
        <p class="card-text"> {{post.seo.description}} </p>
    </div>
    <div class="card-footer">
        Posted On {{moment(post.created_at).format('Y-M-D h:m A')}}
    </div>
</div>
{% endfor %}