<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <%= meta.title %>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link <%= current_url == '/' ? 'active' :'' %>" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= current_url == '/about' ? 'active' :'' %>" href="/">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= current_url == '/contact' ? 'active' :'' %>" href="/">Contact Us</a>
            </li>

        </ul>
    </div>
</nav>
<div class="jumbotron custom_header">
    <div class="container">
        <h1 class="display-3">
            <%= locals.title || meta.title || post.title %>
        </h1>
    </div>
</div>