{% extends 'admin/index.twig'%}

{% block body %}
<div class="card">
    <div class="card-body">
        <h2 class="fw-light">Submissions ( {{ submissions_count }} )</h2>
        <div class="table-responsive">
            <table class="table" id="data-table">
                <thead>
                    <tr>
                        <th>No.</th>
                        {% for key,head in table_heads %}
                        <th>
                            {{ head }}
                        </th>
                        {% endfor %}
                        <th>Created</th>
                    </tr>
                </thead>

                {% for sub in submissions %}
                <tr>
                    <td>{{ loop.index }}</td>
                    {% for val in sub.body %}
                    <td> {{ val }} </td>
                    {% endfor %}
                    <td>{{ moment(sub.created_at).format('Y-MM-D h:mm A') }}</td>
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script>
    $(document).ready(function () {
        $('#data-table').DataTable()
    })
</script>
{% endblock %}