{% extends 'layouts/default.twig' %}

{% block metatags %}
<meta name="title" content="{{ post.seo.title ? post.seo.title : post.title }}">
<meta name="description" content="{{ post.seo.description ? post.seo.description : 'default description' }}">

{% endblock %}


{% block body %}
    <div class="container">
        {% if post.featured_image %}
            <img class="featured-image" src="{{post.featured_image.large}}">
        {% endif %}
        
        <h1>
            {{ post.title }}
        </h1>
        <p>
            {{ post.content_rendered }}
        </p>
    </div>
{% endblock %}