<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ admin_baseurl }}">
                <i class="nav-icon icon-speedometer"></i>
                Dashboard
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>

        {% include 'admin/partials/post_types.twig' %}

        <li class="divider"></li>

        <li class="nav-item">
            <a class="nav-link" href="{{ admin_baseurl }}/gallery">
                <i class="nav-icon icon-picture"></i>
                Gallery
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ admin_baseurl }}/users">
                <i class="nav-icon icon-user"></i>
                Users
            </a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="{{ admin_baseurl }}/users">
                <i class="nav-icon icon-speedometer"></i>
                Customization
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{{ admin_baseurl }}/customization/menu">
                        <i class="nav-icon icon-menu"></i>
                        Menu
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ admin_baseurl }}/forms">
                <i class="nav-icon icon-doc"></i>
                Forms
            </a>
        </li>

    </ul>
</nav>